/* src/styles/transitions.css */

::view-transition-group(root) {
  animation-duration: 800ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  z-index: 13;
  isolation: isolate;
}

::view-transition-image-pair(root) {
  isolation: isolate;
}

::view-transition-old(root) {
  animation-name: none;
  width: 100%; height: 100%; position: absolute; top: 0; left: 0;
}

/* https://github.com/innei-dev/Shiroi/blob/main/src/styles/variables.css */
::view-transition-new(root) {
  animation-name: shiroi-wipe-from-bottom-to-top;
  width: 100%; height: 100%; position: absolute; top: 0; left: 0;
  mix-blend-mode: normal;
}

html.dark::view-transition-new(root) {
  animation-name: shiroi-wipe-from-top-to-bottom;
}

@keyframes shiroi-wipe-from-top-to-bottom {
  from {
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
  }
  to {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}

@keyframes shiroi-wipe-from-bottom-to-top {
  from {
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  }
  to {
    clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0% 0%);
  }
}